[submodule "src/MOM6"]
	path = src/MOM6
	url = git@github.com:mnlevy1981/MOM6.git
	branch = mnlevy1981/add_MARBL
[submodule "src/FMS"]
	path = src/FMS
	url = https://github.com/NOAA-GFDL/FMS.git
	branch = master
